.product-card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  transition: .25s;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0,0,0,.12);
}

.product-img {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.product-img img {
  max-height: 190px;
  width: auto;
}

.product-meta {
  padding: 12px 16px 16px;
  font-weight: 600;
}

.product-name {
  font-size: 15px;
  color: #222;
}

.product-price {
  color: #1e3a8a;
}

//homepage section carousel
.most-popular-products .carousel-control-prev-icon,
.most-popular-products .carousel-control-next-icon {
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
  padding: 18px;
}

#giftingHeroCarousel .carousel-control-prev,
#giftingHeroCarousel .carousel-control-next {
  width: 5%;
}

#giftingHeroCarousel .carousel-control-prev-icon,
#giftingHeroCarousel .carousel-control-next-icon {
  filter: invert(1);
}

/*most popular cayegories*/
/* =========================================
   POPULAR CATEGORY CAROUSEL
========================================= */

.popular-category-section {

    padding: 80px 0;

    background: #f8f8f8;

    overflow: hidden;
}



.popular-category-card {

    background: white;

    border-radius: 22px;

    overflow: hidden;

    height: 100%;

    border: 1px solid #ececec;
}


.popular-category-image-wrap {

    height: 220px;

    background: white;

    display: flex;

    align-items: center;

    justify-content: center;

    padding: 20px;
}


.popular-category-image-wrap img {

    max-width: 100%;

    max-height: 100%;

    object-fit: contain;
}


.popular-category-content {

    padding: 24px;
}


.popular-category-content h3 {

    font-size: 28px;

    font-weight: 800;

    margin-bottom: 18px;
}


.popular-category-content ul {

    list-style: none;

    padding: 0;

    margin: 0 0 20px;
}


.popular-category-content li {

    margin-bottom: 10px;
}


.popular-category-shop {

    color: #4866d6;

    font-weight: 600;
}


#popularCategoryCarousel {

    position: relative;
}


#popularCategoryCarousel .carousel-control-prev,

#popularCategoryCarousel .carousel-control-next {

    width: 50px;

    opacity: 1;
}


#popularCategoryCarousel .carousel-control-prev-icon,

#popularCategoryCarousel .carousel-control-next-icon {

    background-color: black;

    border-radius: 50%;

    padding: 20px;
}