.larger-quantity-page{
padding:40px 0;
}

/* Progress bar */
/* PROGRESS WRAPPER */

.lq-progress-wrapper{
width:100%;
background:#f3f4f6;
padding:30px 0;
}

/* PROGRESS BAR */

.lq-progress{
position:relative;
display:flex;
justify-content:space-between;
align-items:center;
}

/* background line */

.lq-progress::before{
content:"";
position:absolute;
top:16px;
left:0;
right:0;
height:6px;
background:#d1d5db;
z-index:0;
border-radius:10px;
}

/* progress active line */

.lq-progress::after{
content:"";
position:absolute;
top:16px;
left:0;
width:50%;
height:6px;
background:#6b7280;
z-index:1;
border-radius:10px;
}

/* step */

.lq-progress .step{
position:relative;
z-index:2;
text-align:center;
flex:1;
}

.lq-progress .step span{
display:inline-flex;
width:34px;
height:34px;
border-radius:50%;
background:#9ca3af;
color:white;
align-items:center;
justify-content:center;
font-weight:600;
}

/* completed */

.lq-progress .step.done span{
background:#ef4444;
}

/* active */

.lq-progress .step.active span{
background:#ef4444;
}

.lq-progress p{
margin-top:8px;
font-size:14px;
color:#374151;
}


/* layout */

.lq-wrapper{
background:#f9fafb;
border-radius:14px;
padding:30px;
}

/* form */

.lq-form label{
    font-weight:600;
    margin-bottom: 2rem;
    line-height: 1;
}


.qty-group{
  padding-bottom : 3rem;
}

.lq-form input{
  background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 4px;
    color: #111;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    outline: 0;
    padding: 15px;
    transition: outline .2s ease-in-out;
}

.qty-input{
width:200px;
margin-bottom:10px;
padding: 15px;
 border-radius: 4px;
    color: #111;
    display: inline-block;
    font-weight: 300;
    line-height: 1;
    outline: 0;
}

.details-title{
margin-top:40px;
font-weight:700;
}

/* summary */

.lq-summary{
background:white;
padding:25px;
border-radius:12px;
}

.product-summary{
display:flex;
gap:15px;
margin-bottom:20px;
}

.product-summary img{
width:60px;
}

.lq-btn{
width:100%;
background:#10b981;
color:white;
padding:14px;
border-radius:30px;
margin-top:20px;
font-weight:600;
}

.terms{
font-size:12px;
margin-top:10px;
color:#6b7280;
}

/* PRODUCT SUMMARY IMAGE */

.product-summary img{
    width: 100%;
    max-width: 80px;
    height: auto;
    object-fit: contain;
    border-radius: 6px;
}

/* product summary layout */

.product-summary{
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.product-summary div{
    flex: 1;
}

/* mobile */

@media (max-width: 768px){

    .product-summary img{
        max-width: 65px;
    }

}

/*progress bar activation*/
.lq-progress .step.active span{
background:#ef4444;
}

.lq-progress .step.active ~ .step span{
background:#9ca3af;
}