.promo-hero {
  border-radius: 6px;
  margin-bottom: 30px;
}

.promo-green {
  background: #8ED8B3;
}

.promo-grey {
  background: #E6E8EF;
}

.promo-peach {
  background: #E9B699;
}

.promo-blue {
  background: #6E8FC6;
}